.container-landing{
  background-color: black;
  color: pink;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-size:30px;
  font-weight:bold;
  height:100vh;
}

.button {
  background-color:pink;
  color:black;
  border-radius:10%;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}