.btn {
  display:flex;
  flex-direction: row;
  background-color:black;
  box-shadow:0 4px 8px 0 rgb(255, 2, 44), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:aqua;
  margin-top:5px;
  font-size: 14px;
  width: 100px;
  height:30px;
  
}
.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left:3px;
}