.btn{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  background-color:black;
  box-shadow:0 4px 8px 0 rgb(255,192,203), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color:aqua;
  padding:10px;
  margin-top:5px;
  margin-bottom:5px;
  font-size: 14px;
  width: 175px;
  
}